<!--Sin logeo-->
<div *ngIf="!identity">
  
<div class="h4">Inicia sesión para ver las graficas</div>

<div class="container">

  <form #Login="ngForm" (ngSubmit)="onSubmit()">

    <div class="form-group">

    <label>Usuario</label>
    <input class="form-control" type="text" #usu="ngModel" name="usu" [(ngModel)]="this.user.name">
    <br>
    <span class="alert alert-danger" *ngIf="usu.value=='' && usu.touched">El usuario es requerido!</span>

    </div>

    <div class="form-group">

      <label>Password</label>
    <input class="form-control" type="password" #pass="ngModel" name="pass" [(ngModel)]="this.user.password">
    <br>
    <span class="alert alert-danger" *ngIf="pass.value=='' && pass.touched">La contraseña es requerida!</span>

    </div>
  
    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Entrar">
    </div>
  
  </form>
</div>
</div>

<!--Con logeo-->
<div *ngIf="identity">

  <!--Barra navegación-->
  <div>
    <form #dates="ngForm">
      <ul class="nav shadow p-3 mb-5 bg-white rounded">
        <div class="row">
          <li class="nav-item col-md-3">
            <span>Periodo:</span>
            <input type="date" #date1="ngModel" name="date1" [(ngModel)]="this.dates.date1" class="nav-link" class="form-control">
          </li>
          <li class="nav-item col-ms-3">
            <span>_</span>
            <input type="date" #date2="ngModel" name="date2" [(ngModel)]="this.dates.date2" class="nav-link" class="form-control">
            <span></span>
          </li>
          <li class="nav-item col-md-2">
            <span>Start hour:</span>
            <input type="text" #hour1="ngModel" name="hour1" [(ngModel)]="this.dates.hour1"class="nav-link" class="form-control">
          </li>
          <li class="nav-item col-md-2">
            <span>End hour</span>
          <input type="text" #hour2="ngModel" name="hour2" [(ngModel)]="this.dates.hour2" class="nav-link" class="form-control">
          </li>
          <li class="nav-item col-md-2">
            <span>Refresh</span>
            <br>
            <input type="button" value="Refresh" (click)="obtenerDatos(this.dates)" class="nav-link" class="btn btn-primary">
            
          </li>
          <ul class=" container alert alert-danger" *ngIf="messageInfo">
            <span *ngIf="messageInfo">Por favor llena todos los datos!</span>
          </ul>
        </div>        
      </ul>
      
    </form>
  </div>
  <!--Recuadros informativos...-->

    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <span  class="card-title h6">Avg stay</span >
            <div class="row">
              <div class="col-8"><p class="card-text h4">{{this.avg_stay}}</p></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <span  class="card-title h6">Clients</span >
            <div class="row">
              <div class="col-8"><p class="card-text h4">{{this.clients}}</p></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <span  class="card-title h6">Frequency</span >
            <div class="row">
              <div class="col-8"><p class="card-text h4">{{this.frecuency}}</p></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <span  class="card-title h6">Impacts</span >
            <div class="row">
              <div class="col-8"><p class="card-text h4">{{this.impacts}}</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <span  class="card-title h6">Loyals</span >
            <div class="row">
              <div class="col-8"><p class="card-text h4">{{this.loyals}}</p></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <span  class="card-title h6">Potential clients</span >
            <div class="row">
              <div class="col-8"><p class="card-text h4">{{this.potencial_clients}}</p></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <span  class="card-title h6">Registers</span >
            <div class="row">
              <div class="col-8"><p class="card-text h4">{{this.registers}}</p></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <span  class="card-title h6">Visits</span >
            <div class="row">
              <div class="col-8"><p class="card-text h4">{{this.visits}}</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Foot trafic o Graficas-->

    <div class="h1">Foot trafic</div>
    <div style="display: block">
      <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>

</div>

<router-outlet></router-outlet>
